@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-light font-body text-neutral-gray;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading text-primary;
}

.quote {
  @apply font-special text-accent-gold text-lg;
}
